.navbar{
    width: 100%;
background-color: rgb(227, 247, 247);
padding: 1.5rem;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.navbar a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}