.navbar{
    width: 100%;
background-color: #020c31;
padding: 1.5rem;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.navbar a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(13, 127, 249);
}